body {
	margin: 0px;
	font-family: "arial";
	background-color: #363942;
	color: #D8CAA8;
}

.header {
	background-color: #284907;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
}

.title {
	text-align: center;
	font-size: 2em;
}

.connect {
	margin-left: 10px;
	display: inline-block;
}

.logout {
	float: right;
	text-align: right;
	width: 40px;
	height: auto;
	margin-right: 10px;
	transition: -webkit-filter 0.3s;
}

.logout:hover {
	cursor: pointer;
	-webkit-filter: invert(1);
	filter: invert(1);
}

.menu {
	background-color: #5C832F;
	margin-top: 10px;
	height: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
}

a:hover{
	color: #363942 !important;
}

a {
	text-decoration: none;
}

.index {
	padding: 10px;
	margin-top: 10px;
	height: 160px;
	background-color: #5C832F;
}

.foot {
	margin-top: 10px;
	background-color: #284907;
	height: 20px;
	padding: 15px;
	position: fixed;
	bottom: 0;
	width: 98%;
}

.champs {
	width: 33%;
	height: 30px;
	font-size: 1.3em;
}

.forgot {
	padding: 10px;
	margin-top: 10px;
	height: 140px;
	background-color: #5C832F;
}

.sign_up {
	padding: 10px;
	margin-top: 10px;
	height: 350px;
	background-color: #5C832F;
}

.profil {
	padding: 10px;
	margin-top: 10px;
	height: 300px;
	background-color: #5C832F;
}