body {
	margin: 0px;
	font-family: "arial";
	background-color: #363942;
	color: #D8CAA8;
}

.header {
	background-color: #284907;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	padding: 5px;
}

.title {
	text-align: center;
	font-size: 2em;
}

.connect {
	margin-left: 10px;
	display: inline-block;
}

.logout {
	float: right;
	text-align: right;
	width: 40px;
	height: auto;
	margin-right: 10px;
	transition: -webkit-filter 0.3s;
}

.logout:hover {
	cursor: pointer;
	-webkit-filter: invert(1);
	filter: invert(1);
}

.menu {
	background-color: #5C832F;
	margin-top: 10px;
	height: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 15px;
}

a:hover{
	color: #363942 !important;
}

a {
	text-decoration: none;
}

.index {
	padding: 10px;
	margin-top: 10px;
	height: 160px;
	background-color: #5C832F;
}

.foot {
	background-color: #284907;
	height: 20px;
	padding: 15px;
	position: fixed;
	bottom: 0;
	width: 98%;
}

.champs {
	width: 33%;
	height: 30px;
	font-size: 1.3em;
}

.forgot {
	padding: 10px;
	margin-top: 10px;
	height: 140px;
	background-color: #5C832F;
}

.sign_up {
	padding: 10px;
	margin-top: 10px;
	height: 350px;
	background-color: #5C832F;
}

.profil {
	padding: 10px;
	margin-top: 10px;
	height: 300px;
	background-color: #5C832F;
}

canvas {
	display: none;
}

video {
	margin-top: 10px;
	float: left;
	width: 33.33%;
}

.first_photo {
	display: none;
}

.content {
	padding: 10px;
	margin-bottom: 50px;
}

.photo {
	margin: 5px;
	width: 300px;
	height: auto;
}

.photo_index {
	float: left;
	width: 33.33%;
}

.button {
	margin-top: 10px;
	float: left;
	width: 33.33%;
}

.sidebar {
	width: 300px;
	height: auto;
	margin-top: 5px;
}

.presentation {
	margin: 5px;
	width: 500px;
	height: auto;
	display: inline-block;
	vertical-align: top;
}

.things{
	display: inline-block;
}

.del_photo {
	border-radius: 0.5em;
}

.like {
	height: 30px;
	background-color: green;
	border-radius: 0.5em;
}

.dislike {
	height: 30px;
	background-color: red;
	border-radius: 0.5em;
}

.score {
	font-size: 2em;
}